.cabecera{
    width: 1536px;
    height: 60px;
    opacity: 1;
    color: #373A3C;
}

hr {
    height: 2px;
    margin-left: 0.1vw 0.3vw;
    background-color: #000000;
}

.barraweb {
	font-family: 'Lobster', 'Regular';
    font-weight: 37;
    text-align: center;
    color: #FFFFFF;
}

.textoPrincipal {
    font-family: 'Cabin','Bold';
    font-weight: 40;
    margin: 2 2 2 2;
    width: 425px;

}

.opcionesMenu{
    text-decoration: none;
    color: white;
}

body {
	font-family: 'Cabin', sans-serif;
	color: #373A3C
}

.grey{
	background-color: #373A3C;
}

.imgPizza{
    width: 582px;
    height: 386px;
    margin: 2 2 2 2;
    opacity: 1;
}

.carousel-indicators {
    top: 200px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #373A3C;
}

.carousel-indicators [data-bs-target]{
    border-radius: 50%;
    width: 15px;
    height: 15px;
}
.carousel-indicators button {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #ccc;
    
}

.card-title {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 23px;
    color: #373A3C;
}

.card-text {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    color: #373A3C;
}

.footer-red {
    background-color: #DC3545;
   
}

.div-footer {
    padding: 150px  100px;
}

.footer-copyright{
    background-color: #373A3C;
}

.footer-logo {
    font-family: 'Lobster', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 37px;     
}


@media only screen and (min-width: 370) and (max-width: 700) {
    .cabecera{
        width: 320px;
        height: 60px;
        opacity: 1;
        color: #373A3C;
    }
} 
  /* Ocultar carrusel en tamaños sm y xs */
  @media (max-width: 575.98px) {
    .carousel {
        display: none;
    }
}
